{% extends "layout.html" %} {% block body %}

<!-- cases -->
<div class="cases">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center ">
                    <h2>Protect yourself from getting sick</h2>
                </div>
            </div>
        </div>
        <div class="row d_flex">
            <div class=" col-md-4">
                <div class="latest text_align_center">
                    <figure><img src="{{url_for('static',filename='images/safe1.png')}}" alt="#" /></figure>
                    <div class="nostrud">
                        <h3>01<br><br><br></h3>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="latest text_align_center">
                    <figure><img src="{{url_for('static',filename='images/safe2.png')}}" alt="#" /></figure>
                    <div class="nostrud">
                        <h3>02<br><br><br></h3>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="latest text_align_center">
                    <figure><img src="{{url_for('static',filename='images/safe3.png')}}" alt="#" /></figure>
                    <div class="nostrud">
                        <h3>03<br><br><br></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cases -->
<div class="cases">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center ">
                    <h2>Be Ready</h2>
                </div>
            </div>
        </div>
        <div class="row d_flex">
            <div class=" col-md-4">
                <div class="latest text_align_center">
                    <figure><img src="{{url_for('static',filename='images/br1.png')}}" alt="#" /></figure>
                    <div class="nostrud">
                        <h3>01<br><br><br></h3>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="latest text_align_center">
                    <figure><img src="{{url_for('static',filename='images/br2.png')}}" alt="#" /></figure>
                    <div class="nostrud">
                        <h3>02<br><br><br></h3>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="latest text_align_center">
                    <figure><img src="{{url_for('static',filename='images/br3.png')}}" alt="#" /></figure>
                    <div class="nostrud">
                        <h3>03<br><br><br></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cases">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center ">
                    <h2>Home-Cares</h2>
                </div>
            </div>
        </div>
        <div class="row d_flex">
            <div class=" col-md-4">
                <div class="latest text_align_center">
                    <figure><img src="{{url_for('static',filename='images/hc1.png')}}" alt="#" /></figure>
                    <div class="nostrud">
                        <h3>01<br><br><br></h3>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="latest text_align_center">
                    <figure><img src="{{url_for('static',filename='images/hc2.png')}}" alt="#" /></figure>
                    <div class="nostrud">
                        <h3>02<br><br><br></h3>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="latest text_align_center">
                    <figure><img src="{{url_for('static',filename='images/hc3.png')}}" alt="#" /></figure>
                    <div class="nostrud">
                        <h3>03<br><br><br></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}